/* Layout */
/* Layout covers the entire screen. */
html {
  height: 100%;
}
/* Stack toolbar and content on top of each other. */
.layout-body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}
/* Place drawer and main next to each other. */
.drawer-content {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
}
.drawer-main {
  padding-left: 15px;
  width: 100%
}

.layout-main {
  height: 100%;
  padding-left: 15px;
  padding-top: 80px;
}

/* Toolbar */
a {
  text-decoration: none; 
}
.sch-toolbar-link {
	color: #FFFFFF
}
.sch-toolbar-title {
	padding-left: 20px
}
.sch-toolbar-item-selected {
	color:#5dffdc;
}

.sch-user {
	color:paleturquoise;
}

/* Menus */
.sch-menu-item-selected {
	color:seagreen
}


/* Cards */
.sch-card {
	width: 300px;
}
.sch-card-primary {
	background: #cdeb8b;
	background: -moz-linear-gradient(top, #cdeb8b 0%, #cdeb8b 100%);
	background: -webkit-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%);
	background: linear-gradient(to bottom, #cdeb8b 0%,#cdeb8b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#cdeb8b',GradientType=0 );
}

.sch-card-highlight {
	color: brown !important;
}

.sch-card-violet {
	color: blueviolet !important;
}

.sch-card-warning {
	background: #f37a7a
}

/* float icons */
#f1.app-fab--absolute.app-fab--absolute {
	position: fixed;
  	bottom: 1rem;
  	right: 5rem;
}
#f2.app-fab--absolute.app-fab--absolute {
	position: fixed;
  	bottom: 1rem;
  	right: 1rem;
}

/* Dialog */
.dialog-head {
	background-color: #f7f7f7;
	height: 80px;
	padding: 0px 24px 0 !important;
}

/* layout default values */
.sch-default-layout-grid {
	--mdc-layout-grid-margin: 0px;
  	--mdc-layout-grid-gutter: 0px;
}

/* input */
.sch-default-input {
	width: 98%
}

/* buttons */
.sch-button-link {
	border: none;
	background: transparent;
}

/* CoverPage */
.sch-cover-page {
	width: 99%;
	height: 100%;
}​


