<!DOCTYPE html>
<html class="mdc-typography" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initialscale=1"/>
		
		<link rel="stylesheet" th:href="@{~/master.css}">
		
		<link rel="stylesheet" href="https://unpkg.com/material-components-web@0.12.1/dist/material-components-web.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/material-components-web@0.12.1/dist/material-components-web.min.js"></script>
	
		<script th:src="@{~/master.js}"></script>
		
		<th:block layout:fragment="head"></th:block>
		
		<title>Escuela de danza, Silvia Pascual</title>
	</head>
	
	<body class="mdc-typography layout-body">
		<header class="mdc-toolbar mdc-toolbar--fixed">
	  		<div class="mdc-toolbar__row">
	    		<section class="mdc-toolbar__section mdc-toolbar__section--align-start">
	    			<a href="/" class="sch-toolbar-link">
	      				<span class="material-icons">accessibility</span>
	      			</a>
	      			<span class="mdc-toolbar__title sch-toolbar-title">Escuela de danza, Silvia Pascual</span>
	    		</section>
	    		<section class="mdc-toolbar__section mdc-toolbar__section--align-end">
	    			<a href="/customer/list" class="sch-toolbar-link">
						<span class="mdc-toolbar__title" th:classappend="${toolbar.isCustomer()} ? 'sch-toolbar-item-selected' : ''">CLIENTES</span>
					</a>
	    			<a href="/classtype/list" sec:authorize="hasRole('ROLE_ADMIN')" class="sch-toolbar-link sch-toolbar-title">
	    				<span class="mdc-toolbar__title" th:classappend="${toolbar.isClassroom()} ? 'sch-toolbar-item-selected' : ''">AULAS</span>
					</a>
	    			<a href="/invoice/list" class="sch-toolbar-link sch-toolbar-title">
	    				<span class="mdc-toolbar__title" th:classappend="${toolbar.isInvoice()} ? 'sch-toolbar-item-selected' : ''">FACTURAS</span>
					</a>
					<a href="/logout" class="sch-toolbar-link">
						<span class="material-icons sch-toolbar-title">cloud_off</span>
					</a>
					<span class="mdc-toolbar__title sch-toolbar-title sch-user">(</span>
					<span class="mdc-toolbar__title sch-user" sec:authentication="name">Name</span>
					<span class="mdc-toolbar__title sch-user">)</span>
	    		</section>
	  		</div>
			<div class="mdc-snackbar"
			     aria-live="assertive"
			     aria-atomic="true"
			     aria-hidden="true">
			  <div class="mdc-snackbar__text"></div>
			  <div class="mdc-snackbar__action-wrapper">
			    <button type="button" class="mdc-button mdc-snackbar__action-button"></button>
			  </div>
			</div>	  		
		</header>
		<main class="layout-main">
			<div layout:fragment="content">
	 			Content
	 		</div>
   		</main>
	</body>
</html>