<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/classroom/master-classroom}">
<body>
<div layout:fragment="content">
    <div class="drawer-content">
        <nav class="mdc-permanent-drawer mdc-typography">
            <div class="mdc-permanent-drawer">
                <nav id="icon-with-text-demo" class="mdc-list">
                    <a href="/customer/list" class="mdc-list-item mdc-permanent-drawer--selected sch-button-link">
                        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">backspace</i><span>Volver</span>
                    </a>
                </nav>
            </div>
        </nav>
        <div class="drawer-main">
            <h1 th:if="${classesRowsCols.size() == 0}" class="mdc-typography--display1">No existe ningún registro</h1>

            <div th:each="classesRows : ${classesRowsCols}" class="mdc-layout-grid">
                <div th:each="clazz : ${classesRows}" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
                    <div class="mdc-card sch-card">
                        <section class="mdc-card__primary sch-card-primary">
                            <h1 class="mdc-card__title mdc-card__title--large" th:text="${clazz.name}">Nombre</h1>
                            <h2 class="mdc-card__subtitle sch-card-violet" th:text="${clazz.getDaysOfWeek()}">Días de la semana</h2>
                        </section>
                        <section class="mdc-card__actions">
                            <a th:href="@{/customer/} + ${customerId} + @{/classes/} + ${clazz.id} + @{/delete/}" class="mdc-button mdc-button--compact mdc-card__action">Eliminar</a>
                        </section>
                    </div>
                </div>
            </div>

            <a th:href="@{/classcalendar/listforselect/customer/} + ${customerId}">
                <button id="f2" class="mdc-fab app-fab--absolute" aria-label="Nuevo">
                    <span class="mdc-fab__icon material-icons">exposure_plus_1</span>
                </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
