<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{master}">
	<body>
		<form th:action="@{/customer/save}" th:object="${customer}" method="post" layout:fragment="content">
			<div class="drawer-content">
				<nav class="mdc-permanent-drawer mdc-typography">
				  <div class="mdc-permanent-drawer">
				    <nav id="icon-with-text-demo" class="mdc-list">
					    <button type="submit" class="mdc-list-item mdc-permanent-drawer--selected sch-button-link">
					    	<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">save</i>Guardar
					    </button>
				    </nav>
				  </div>
				</nav>
				<div class="drawer-main">
					<input type="hidden" name="id" th:value="*{id}">
					<div class="mdc-layout-grid sch-default-layout-grid">
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
					  		<input type="text" id="firstName" th:field="*{firstName}" th:value="*{firstName}" class="mdc-textfield__input sch-default-input">
					  		<label class="mdc-textfield__label" for="firstName">Nombre</label>
						</div>
	    			</div>
					<div class="mdc-layout-grid sch-default-layout-grid">
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
							<p th:errors="*{firstName}" class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg"/>
						</div>
	    			</div>
					<div class="mdc-layout-grid sch-default-layout-grid">
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
					  		<input type="text" id="secondName" th:field="*{secondName}" th:value="*{secondName}" class="mdc-textfield__input sch-default-input">
					  		<label class="mdc-textfield__label" for="secondName">Primer Apellido</label>
						</div>
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
					  		<input type="text" id="thirdName" th:field="*{thirdName}" th:value="*{thirdName}" class="mdc-textfield__input sch-default-input">
					  		<label class="mdc-textfield__label" for="thirdName">Segundo Apellido</label>
						</div>
	    			</div>
					<div class="mdc-layout-grid sch-default-layout-grid">
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
							<p th:errors="*{secondName}" class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg"/>
						</div>
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
							<p th:errors="*{thirdName}" class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg"/>
						</div>
	    			</div>
					<div class="mdc-layout-grid sch-default-layout-grid">
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
					  		<input type="text" id="email" th:field="*{email}" th:value="*{email}" class="mdc-textfield__input sch-default-input">
					  		<label class="mdc-textfield__label" for="email">Email</label>
						</div>
	    			</div>
					<div class="mdc-layout-grid sch-default-layout-grid">
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
							<p th:errors="*{email}" class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg"/>
						</div>
	    			</div>
	 			</div>
		    </div>
		</form>	 			
  	</body>
</html>			
 	