<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master}">
	<body>
		<form th:action="@{/classroomclasstype/save/} + ${mode}" th:object="${classroomClassType}" method="post" layout:fragment="content">
			<input th:if="${mode == 'updating'}" type="hidden" id="id" name="id" th:value="*{getId()}">
			<div class="drawer-content">
				<nav class="mdc-permanent-drawer mdc-typography">
				  <div class="mdc-permanent-drawer">
				    <nav id="icon-with-text-demo" class="mdc-list">
					    <button type="submit" class="mdc-list-item mdc-permanent-drawer--selected sch-button-link">
					    	<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">save</i>Guardar
					    </button>
				    </nav>
				  </div>
				</nav>
				<div class="drawer-main">
					<div th:if="${mode == 'adding'}">				
						<div class="mdc-layout-grid sch-default-layout-grid">
							<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-textfield mdc-textfield--upgraded">
								<select class="mdc-select" th:field="*{classroom.id}">
								  <option th:each="classroom : ${classrooms}" th:value="${classroom.id}" th:text="${classroom.name}">Classroom</option>
								</select>							
							</div>
							<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-textfield mdc-textfield--upgraded">
								<select class="mdc-select" th:field="*{classType.id}">
								  <option th:each="classType : ${classTypes}" th:value="${classType.id}" th:text="${classType.name}">Classtype</option>
								</select>							
							</div>
		    			</div>
					</div>
					<div class="mdc-layout-grid sch-default-layout-grid">
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
					  		<input type="text" id="classMax" th:field="*{classMax}" th:value="*{classMax}" class="mdc-textfield__input sch-default-input">
					  		<label class="mdc-textfield__label" for="name">Número máximo de alumnos</label>
						</div>
	    			</div>
	    			<div class="mdc-layout-grid sch-default-layout-grid">
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
							<p th:errors="*{classMax}" class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg"/>
						</div>
	    			</div>
	 			</div>
		    </div>
		</form>	 			
  	</body>
</html>			
 	