<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master}">
	<body>
		<form th:action="@{/classcalendar/save/}" th:object="${classCalendar}" method="post" layout:fragment="content">
			<input th:if="${!classCalendar.isNew()}" type="hidden" id="id" name="id" th:value="*{getId()}">
			<div class="drawer-content">
				<nav class="mdc-permanent-drawer mdc-typography">
				  <div class="mdc-permanent-drawer">
				    <nav id="icon-with-text-demo" class="mdc-list">
					    <button type="submit" class="mdc-list-item mdc-permanent-drawer--selected sch-button-link">
					    	<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">save</i>Guardar
					    </button>
				    </nav>
				  </div>
				</nav>
				<div class="drawer-main">
					<div th:if="${classCalendar.isNew()}">
						<div class="mdc-layout-grid sch-default-layout-grid">
							<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-textfield mdc-textfield--upgraded">
								<select class="mdc-select" th:field="*{classroom.id}">
								  <option th:each="classroom : ${classrooms}" th:value="${classroom.id}" th:text="${classroom.name}">Classroom</option>
								</select>							
							</div>
							<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-textfield mdc-textfield--upgraded">
								<select class="mdc-select" th:field="*{classType.id}">
								  <option th:each="classType : ${classTypes}" th:value="${classType.id}" th:text="${classType.name}">Classtype</option>
								</select>							
							</div>
		    			</div>
					</div>
                    <div class="mdc-layout-grid sch-default-layout-grid">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
                            <input type="time" id="start" th:field="*{start}" th:value="*{start}" class="mdc-textfield__input sch-default-input">
                            <label class="mdc-textfield__label" for="start">Hora de inicio</label>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
                            <input type="time" id="end" th:field="*{end}" th:value="*{end}" class="mdc-textfield__input sch-default-input">
                            <label class="mdc-textfield__label" for="end">Hora fin</label>
                        </div>
                    </div>
                    <div class="mdc-layout-grid sch-default-layout-grid">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                            <p th:errors="*{start}" class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg"/>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                            <p th:errors="*{end}" class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg"/>
                        </div>
                    </div>
					<div class="mdc-layout-grid sch-default-layout-grid">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
                            <div class="mdc-form-field">
                                <div class="mdc-checkbox">
                                    <input type="checkbox"
                                           id="monday"
                                           th:field="*{monday}"
                                           th:disabled="${!classCalendar.isCanEditMonday()}"
                                           class="mdc-checkbox__native-control"/>
                                    <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark"
                                             viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark__path"
                                                  fill="none"
                                                  stroke="white"
                                                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                        </svg>
                                        <div class="mdc-checkbox__mixedmark"></div>
                                    </div>
                                </div>
                                <label for="monday">Lunes</label>
                            </div>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
                            <div class="mdc-form-field">
                                <div class="mdc-checkbox">
                                    <input type="checkbox"
                                           id="tuesday"
                                           th:field="*{tuesday}"
                                           th:disabled="${!classCalendar.isCanEditTuesday()}"
                                           class="mdc-checkbox__native-control"/>
                                    <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark"
                                             viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark__path"
                                                  fill="none"
                                                  stroke="white"
                                                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                        </svg>
                                        <div class="mdc-checkbox__mixedmark"></div>
                                    </div>
                                </div>
                                <label for="monday">Martes</label>
                            </div>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
                            <div class="mdc-form-field">
                                <div class="mdc-checkbox">
                                    <input type="checkbox"
                                           id="wednesday"
                                           th:field="*{wednesday}"
                                           th:disabled="${!classCalendar.isCanEditWednesday()}"
                                           class="mdc-checkbox__native-control"/>
                                    <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark"
                                             viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark__path"
                                                  fill="none"
                                                  stroke="white"
                                                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                        </svg>
                                        <div class="mdc-checkbox__mixedmark"></div>
                                    </div>
                                </div>
                                <label for="monday">Miercoles</label>
                            </div>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
                            <div class="mdc-form-field">
                                <div class="mdc-checkbox">
                                    <input type="checkbox"
                                           id="thursday"
                                           th:field="*{thursday}"
                                           th:disabled="${!classCalendar.isCanEditThursday()}"
                                           class="mdc-checkbox__native-control"/>
                                    <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark"
                                             viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark__path"
                                                  fill="none"
                                                  stroke="white"
                                                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                        </svg>
                                        <div class="mdc-checkbox__mixedmark"></div>
                                    </div>
                                </div>
                                <label for="monday">Jueves</label>
                            </div>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
                            <div class="mdc-form-field">
                                <div class="mdc-checkbox">
                                    <input type="checkbox"
                                           id="friday"
                                           th:field="*{friday}"
                                           th:disabled="${!classCalendar.isCanEditFriday()}"
                                           class="mdc-checkbox__native-control"/>
                                    <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark"
                                             viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark__path"
                                                  fill="none"
                                                  stroke="white"
                                                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                        </svg>
                                        <div class="mdc-checkbox__mixedmark"></div>
                                    </div>
                                </div>
                                <label for="monday">Viernes</label>
                            </div>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
                            <div class="mdc-form-field">
                                <div class="mdc-checkbox">
                                    <input type="checkbox"
                                           id="saturday"
                                           th:field="*{saturday}"
                                           th:disabled="${!classCalendar.isCanEditSaturday()}"
                                           class="mdc-checkbox__native-control"/>
                                    <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark"
                                             viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark__path"
                                                  fill="none"
                                                  stroke="white"
                                                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                        </svg>
                                        <div class="mdc-checkbox__mixedmark"></div>
                                    </div>
                                </div>
                                <label for="monday">Sábado</label>
                            </div>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
                            <div class="mdc-form-field">
                                <div class="mdc-checkbox">
                                    <input type="checkbox"
                                           id="sunday"
                                           th:field="*{sunday}"
                                           th:disabled="${!classCalendar.isCanEditSunday()}"
                                           class="mdc-checkbox__native-control"/>
                                    <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark"
                                             viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark__path"
                                                  fill="none"
                                                  stroke="white"
                                                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                        </svg>
                                        <div class="mdc-checkbox__mixedmark"></div>
                                    </div>
                                </div>
                                <label for="monday">Domingo</label>
                            </div>
                        </div>
	    			</div>
	    			<div class="mdc-layout-grid sch-default-layout-grid">
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
							<p th:errors="global" class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg"/>
						</div>
	    			</div>
	 			</div>
		    </div>
		</form>	 			
  	</body>
</html>			
 	