<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/classroom/master-classroom}">
<body>
<div layout:fragment="content-classroom">
	<div th:if="${errorDescription}" snack-show='true' data-th-attr="snack-text=${errorDescription}"></div>
	<h1 th:if="${classCalendarsRowsCols.size() == 0}" class="mdc-typography--display1">No existe ningún registro</h1>

	<div th:each="rows : ${classCalendarsRowsCols}" class="mdc-layout-grid">
		<div th:each="row : ${rows}" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
			<div class="mdc-card sch-card">
				<section class="mdc-card__primary sch-card-primary" th:style="${row.isMaxNumberOfStudents()} ? 'background:#f37a7a' : ''">
					<div>
						<div><h1 class="mdc-card__title mdc-card__title--large" th:text="${row.getName()}">Nombre</h1></div>
						<div><h2 class="mdc-card__subtitle" th:text="${row.getDisplayTime()}">Time</h2></div>
						<div th:each="day : ${row.getCalendarDaySorted()}">
							<h2 class="mdc-card__subtitle sch-card-violet" th:text="${day.getNameOfDayAndNumberOfStudents()}">Día de la semana</h2>
						</div>
					</div>
				</section>
				<section class="mdc-card__actions">
					<a th:href="@{/classcalendar/update/} + ${row.getId()}" class="mdc-button mdc-button--compact mdc-card__action">Editar</a>
					<a th:if="${row.canRemove()}" th:href="@{/classcalendar/delete/} + ${row.getId()}" class="mdc-button mdc-button--compact mdc-card__action">Eliminar</a>
				</section>
			</div>
		</div>
	</div>

	<a th:href="@{/classcalendar/add}">
		<button id="f2" class="mdc-fab app-fab--absolute" aria-label="Nuevo">
			<span class="mdc-fab__icon material-icons">exposure_plus_1</span>
		</button>
	</a>
</div>
</body>
</html>