<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master}">
	<body>
		<form th:action="@{/classroom/save}" th:object="${classroom}" method="post" layout:fragment="content">
			<div class="drawer-content">
				<nav class="mdc-permanent-drawer mdc-typography">
				  <div class="mdc-permanent-drawer">
				    <nav id="icon-with-text-demo" class="mdc-list">
					    <button type="submit" class="mdc-list-item mdc-permanent-drawer--selected sch-button-link">
					    	<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">save</i>Guardar
					    </button>
				    </nav>
				  </div>
				</nav>
				<div class="drawer-main">
					<input type="hidden" name="id" th:value="*{id}">
					<div class="mdc-layout-grid sch-default-layout-grid">
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
					  		<input type="text" id="name" th:field="*{name}" th:value="*{name}" class="mdc-textfield__input sch-default-input">
					  		<label class="mdc-textfield__label" for="name">Nombre</label>
						</div>
	    			</div>
					<div class="mdc-layout-grid sch-default-layout-grid">
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
							<p th:errors="*{name}" class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg"/>
						</div>
	    			</div>
	 			</div>
		    </div>
		</form>	 			
  	</body>
</html>			
 	