<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{/classroom/master-classroom}">
	<body>
		<div layout:fragment="content-classroom">
			<h1 th:if="${classroomsRowsCols.size() == 0}" class="mdc-typography--display1">No existe ningún registro</h1>
			
			<div th:each="classroomsRows : ${classroomsRowsCols}" class="mdc-layout-grid">
			  <div th:each="classroom : ${classroomsRows}" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
		     	<div class="mdc-card sch-card">
	 				<section class="mdc-card__primary sch-card-primary">
		   				<h1 class="mdc-card__title mdc-card__title--large" th:text="${classroom.name}">Nombre</h1>
	 				</section>
	 				<section class="mdc-card__actions">
		   				<a th:href="@{/classroom/update/} + ${classroom.id}" class="mdc-button mdc-button--compact mdc-card__action">Editar</a>
		   				<a th:href="@{/classroom/delete/} + ${classroom.id}" class="mdc-button mdc-button--compact mdc-card__action">Eliminar</a>
	 				</section>
				</div>
			  </div>
			</div>
			
			<a th:href="@{/classroom/add}">
		   		<button id="f2" class="mdc-fab app-fab--absolute" aria-label="Nuevo">
		   			<span class="mdc-fab__icon material-icons">exposure_plus_1</span>
				</button>	     
			</a>
	    </div>
  	</body>
</html>			
