<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{master}">
	<body>
		<div layout:fragment="content">
			<div class="drawer-content">
				<nav class="mdc-permanent-drawer mdc-typography">
				  <div class="mdc-permanent-drawer">
				    <nav id="icon-with-text-demo" class="mdc-list">
					    <a href="/classtype/list" class="mdc-list-item mdc-permanent-drawer--selected sch-button-link">
					    	<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">merge_type</i><span th:classappend="${classroomMenu.isClassType()} ? 'sch-menu-item-selected' : ''">Tipo de clases</span>
					    </a>
					    <a href="/classroom/list" class="mdc-list-item mdc-permanent-drawer--selected sch-button-link">
					    	<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">class</i><span th:classappend="${classroomMenu.isClassroom()} ? 'sch-menu-item-selected' : ''">Aulas</span>
					    </a>
					    <a class="mdc-list-item mdc-permanent-drawer--selected sch-button-link">
					    	<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">settings</i>Configurar aulas
					    </a>
					    <a class="mdc-list-item mdc-permanent-drawer--selected sch-button-link">
					    	<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">assignment</i>Asignar clases
					    </a>
					    <a class="mdc-list-item mdc-permanent-drawer--selected sch-button-link">
					    	<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">create</i>Personalizar clases
					    </a>
				    </nav>
				  </div>
				</nav>
				<div class="drawer-main" layout:fragment="content-classroom">
	 			</div>
		    </div>
		</div>	 			
  	</body>
</html>			
 	